<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q&amp;A Discussie platform</title>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    
    <div id="container">
       
        <header class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    {{#if user}}
                        <li><a href="/discussions/create">Start een nieuw Topic</a></li>
                        <li><a href="/users/logout">Log uit</a></li>
                    {{else}}
                        <li><a href="/users/login">Log in</a></li>
                        <li role="presentation"><a href="/users/register">Registreer</a></li>
                    {{/if}}
                </ul>
            </nav>
            <h1><a href="/">Q&amp;A IMD</a></h1>
		</header>

        <div class="row">
            <div class="col-lg-12">
                {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>
                {{/if}}

                {{#if error_msg}}
                    <div class="alert alert-danger">{{error_msg}}</div>
                {{/if}}

                {{#if error}}
                    <div class="alert alert-danger">{{error}}</div>
                {{/if}}
                
                {{{body}}}
            </div>
        </div>

        <footer class="footer">
            <p>&copy; 2016 M.Mertens &amp; C.Roggemans.</p>
        </footer>

    </div>
    
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function () {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(getLocation);
  } else {
    alert("Je browser ondersteunt geen geolocatie.");
  }
  function getLocation(position) {
    return Location(position.coords.latitude, position.coords.longitude);
  }

  var Location = function (lat, lon) {
    this.latitude  = lat;
    this.longitude = lon;
    check();
  };

  function check() {
    var url = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + this.latitude + "," + this.longitude + "&sensor=true";
    $.ajax({
      type: "GET",
      url: url,
      dataType: "json", 
      success: function(response) {
        LocationName(response);
      },
      error: function() {
        console.log("Error");
      }});
    };

	LocationName = function(arg){
      var locationName = arg.results[0].address_components[2].short_name;
      $(".locatie").html(locationName);
      $("#topiclocation").val(locationName);
	};
});
</script>