<a href="/" class="btn-primary-back">Back to discussions</a>

<div class="wrap-title-discussion">
    <div class="title-discussion">{{title}}</div>
    <div class="msg-discussion">{{message}}</div>
    <p>By {{userId.username}}</p>
</div>

{{#each data}}
    <h2>{{this.question}}</h2>
    
    {{#each this.answers}}
        <p>{{this.answer}}</p>
    {{/each}}

    <form action="/answers/{{../discussionId}}" method="post">
        <input type="hidden" name="questionId" value="{{this._id}}">
        <textarea name="answer" placeholder="Answer" class="textfield-a textarea-a"></textarea>
        <button type="submit" value="Answer" class="btn btn-primary">Answer</button>
    </form>
{{/each}}

        
        <form action="/questions/{{discussionId}}" method="post">
        <textarea name="question" placeholder="Question" class="textfield-d textarea-d"></textarea>
        <button type="submit" value="Ask a new question" class="btn btn-primary">Ask a new question</button>
         </form>
